apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig

metadata:
  name: {{ name }}
  region: us-west-2

nodeGroups:
  - name: {{ name }}-ng
    desiredCapacity: {{ numworkers }}
    iam:
      withAddonPolicies:
        cloudWatch:
        {%- if addons['togalb'] -%}
        albIngress: true
        {%- endif -%}
        {%- if addons['togca'] -%}
        autoScaler: true
        {%- endif -%}
        {%- if addons['togappmesh'] -%}
        appMesh: true
        {%- endif -%}
        {%- if addons['togxray'] -%}
        xRay: true
        {% endif %}

iam:
  serviceRoleARN: {{ iamrole }}

cloudWatch:
  clusterLogging:
    enableTypes: ["audit", "authenticator", "controllerManager"]