# Binaries for programs and plugins
*.pyc
.env
cluster-vpc.yaml
*.pytest-cache
/react*

# Output of the go coverage tool, specifically when used with LiteIDE
.DS_Store
/testing-python
/ui/proxy
/shell
/docs
/ui/js/app.js.tmp
/backend/*.env
/backend/src/cdk/cdk.out/*
/backend/src/cdk/cdk.out/

